:root{
    font-size: 62.5%; /* 1px == 1rem */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    background-color: rgb(18, 18, 18);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 5rem;
    height: 5rem;
    margin: 3rem;
}

@keyframes rotation{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.box1 {
    background-color: orangered;
    animation-name: rotation;
    animation-duration: 2s;
    animation-delay: 0s; 

    /* linear ease */
    animation-timing-function: linear; 

    /* x infinite */
    animation-iteration-count: infinite;

    /* normal reverse alternate */
    animation-direction: normal;
}

.box2 {
    background-color: blueviolet;
    animation: rotation 2s 0s ease infinite reverse;
}

.box3 {
    background-color: greenyellow;
    animation: rotation 1.5s 0s ease-in-out infinite alternate;
}